/* body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
} */

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    float: right;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: #00004d;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #00004d;
}

.searchbar:hover>.voice_icon {
    background: white;
    color: #00004d;
}

.dropdown-menu a {
    color: black;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.voice_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

/* .carousel-item {
    height: 700px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    text-shadow: 3px 3px;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
} */

/* Main styles */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
    stroke: #212F3C;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
    stroke: #f5a503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
    stroke: #e9f1df;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
    stroke: #56d9cd;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

/* Other styles */

html, body {
    height: 100%;
}

body {
    /* background: #111;
    background-size: 0.2em 100%;
    font: 5em/1 Open Sans, Impact;
    text-transform: uppercase;
    margin: 0; */
    background-image: url("https://images.unsplash.com/photo-1485815217103-e1a6fc449a8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    opacity: 0.95;
    background-size: 1600px 1000px;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    font-size: xx-large;
}

.tcontainer {
    background-color: black;
}

.center {
    text-align: center;
    margin-top: 15.5em;
    color: white;
}

.rect {
    color: transparent;
}

.title {
    font-size: 2em;
}